.jumbotron {
    margin-top: 20px;
    padding: 0px;
     
}

#instructions {
    text-align: center;
}

body {
    background-image: url("../images/abstract-astro-astronomy-956999.jpg");
    background-size: cover;
}

.question {
    text-align: center;
}

.answer {
    text-align: center;
    margin:auto;
}